[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Pushpendra Kumar
	email = pushpendra@thecolourmoon.com
[safe]
	directory = /Users/pushpendra/Development/Mobile/Practice/calculator-ios/actions-runner/_work/calculator-ios/calculator-ios
